/* Drawing section */
.drawing-section {
  max-width: 58rem;
  margin: 2rem auto;
}

.drawing-heading {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.drawings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.25rem;
}

.drawing {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #535353;
}

@media (max-width: 45rem) {
  .drawings {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 32rem) {
  .drawings {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 20rem) {
  .drawings {
    grid-template-columns: 1fr;
  }
}
