/* Global Styles */
html {
  background-color: #1E1E1E; /* For bottom overscroll */
  scroll-behavior: smooth;
}

body {
  /* old: FDFBF7 */
  background-color: #F8F3ED; /* For top overscroll  */
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  max-height: 100%;
}

figcaption {
  font-family: "Lato", sans-serif;
}

main {
  background-color: #F8F3ED;
}

.header-divider, .main-divider, .footer-divider {
  max-width: 120rem;
  margin: 0 auto;
}

/* Header */
header {
  border-bottom: 1px solid #C4C4C4;
  background-color: #F8F3ED;
}

.header-divider {
  padding: 0.95rem 3%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: 7rem;
}

.link {
  color: #353535;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.25rem;
}

.link:hover,
.link:focus {
  color: black;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.3s ease;
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
  transform-origin: left center;
}

@media (max-width: 55rem) { .nav-links { gap: 5rem; } }
@media (max-width: 47rem) { .nav-links { gap: 4rem; } }
@media (max-width: 42rem) { .nav-links { gap: 3rem; } .link { font-size: 1.1rem; } }
@media (max-width: 32.5rem) { .nav-links { gap: 1.5rem; } .link { font-size: 1rem; } .footer-heading { font-size: 1rem; } }
@media (max-width: 27rem) { .nav-links { gap: 1rem; } }
@media (max-width: 24rem) { .nav-links { gap: 0.75rem; } .link { font-size: 0.92rem; } .footer-heading, .footer-para, .update-para { font-size: 0.92rem; } }
@media (max-width: 19.5rem) { .nav-links { gap: 0.5rem; } }

/* content links */
.underline-link {
  color: #030303;
  /* text-decoration: none;
  border-bottom: 1px solid currentColor; */
}

.underline-link:focus,
.underline-link:hover {
  color: #666;
  transition: color 0.3s ease;
}

/* Footer */
footer {
  background-color: #1E1E1E;
  color: #EAEAEA;
}

.footer-divider {
  padding: 3.5rem 4%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: end;
  gap: 2rem;
  /* bottom-align all columns */
  /* border-radius: 1.25rem 1.25rem 0 0; */
}

@media (min-width: 64rem) {
  .footer-divider {
    grid-template-columns: minmax(20rem, 2fr) minmax(20rem, 2fr) minmax(12rem, 1fr);
  }
}

@media (min-width: 62.5rem) {
  .footer-divider {
    padding: 3.5rem 4%;
  }
}

@media (min-width: 62.5rem) {
  .footer-divider {
    padding: 3.5rem 3%;
  }
}

@media (max-width: 34rem) {
  .footer-divider {
    padding: 3.5rem 5%;
  }
}

.footer-column h3 {
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #F6F6F6;
}

@media (max-width: 24rem) {
  .footer-column h3 {
    font-size: 1.1rem;
  }
}

.footer-column p,
.footer-column a {
  color: #DADADA;
  text-decoration: none;
  line-height: 1.45;
  transition: color 0.3s ease;
}

@media (max-width: 24rem) {
  .footer-column p,
  .footer-column a {
    font-size: 0.92rem;
  }
}

.footer-column a:hover,
.footer-column a:focus {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer-right {
  text-align: left;
}

@media (min-width: 53.31rem) {
  .footer-right {
    text-align: right;
  }
}

@media (min-width: 54rem) {
  .footer-right {
    text-align: right;
  }
  footer {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.footer-column .back-to-top {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.back-to-top {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.footer-column .back-to-top:hover,
.footer-column .back-to-top:focus {
  text-decoration: none;
}

.back-to-top:hover .back-to-top-text,
.back-to-top:focus .back-to-top-text {
  text-decoration: underline;
}

.material-symbols-outlined {
  font-size: 1.3rem;
  vertical-align: middle;
}

