
/* Case Study / Work section */
.case-study {
  max-width: 42rem;
  margin: 3rem auto;
  padding-bottom: 2rem;
}

.article-date {
  margin-bottom: 1rem;
}

.article-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid black;
}

.article-title {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 22rem;
}

.overview-para {
  margin: 0;
  padding: 0;
}

.overview-para a {
  text-decoration: none;
  color: #0066cc;
}

.overview-para a:hover,
.overview-para a:focus {
  text-decoration: underline;
}

.article-body {
  margin-top: 2rem;
}

.case-study-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.article-subheading {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.article-pic {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #535353;
}

.body-pic {
  margin: 0.5rem 0;
  border: 1px solid #535353;
  border-radius: 0.6rem;
}

.body-text {
  margin: 0 auto;
}

.body-subheading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.body-para {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.sticky-notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.sticky-note-pic {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #535353;
}

@media (max-width: 34rem) {
  .case-study-details {
    grid-template-columns: 1fr 1fr;
  }
  .sticky-notes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 32rem) {
  .article-intro {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 24rem) {
  .case-study-details {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 22rem) {
  .sticky-notes {
    grid-template-columns: 1fr;
  }
}
